<br><br><br><br><br><br><br><br>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>5x5</mat-card-title>
        </mat-card-header>
        <br>

        <mat-card-content>
            <mat-grid-list cols="5">
                <mat-grid-tile>{{solution[0][0]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[0][1]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[0][2]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[0][3]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[0][4]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[1][0]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[1][1]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[1][2]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[1][3]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[1][4]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[2][0]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[2][1]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[2][2]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[2][3]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[2][4]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[3][0]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[3][1]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[3][2]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[3][3]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[3][4]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[4][0]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[4][1]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[4][2]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[4][3]}}</mat-grid-tile>
                <mat-grid-tile>{{solution[4][4]}}</mat-grid-tile>
            </mat-grid-list>
            <br>
            
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Letter</mat-label>
                    <mat-select [(value)]="selectedValue">
                        <mat-option [value]="letter" *ngFor="let letter of letters">{{letter}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h4 style="text-align: center;">Guesses: {{usedLetters}}</h4>
                <h4 style="text-align: center;">Score: {{getScore()}}</h4>
                <h4 style="text-align: center;">Time: {{time}}</h4>
            </form>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="guess()" [disabled]="!selectedValue">Guess</button>
    </mat-card>


</div>
<br><br><br><br><br>